<ul class="nav nav-pills">
    <li class="nav-item <% if (path === "/") { %>active<% } %>">
        <a class="nav-link" href="/">Node.js</a>
    </li>
    <li class="nav-item <% if (path === "/bench") { %>active<% } %>">
        <a class="nav-link" href="/bench">Node libs benchmark</a>
    </li>
</ul>
