<ul class="nav nav-pills">
    <li class="nav-item <% if (path === "/") { %>active<% } %>">
        <a class="nav-link" href="/">Node libraries</a>
    </li>
    <li class="nav-item <% if (path === "/bench") { %>active<% } %>">
        <a class="nav-link" href="/bench">Node libraries (benchmarking)</a>
    </li>
    <li class="nav-item <% if (path === "/apis") { %>active<% } %>">
        <a class="nav-link" href="/apis">APIs</a>
    </li>
    <li class="nav-item <% if (path === "/client") { %>active<% } %>">
        <a class="nav-link" href="/client">Client-side recognition</a>
    </li>
</ul>
<div id="root">

</div>