<fieldset class="form-group">
    <legend>Node libraries</legend>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="lib" id="optionsRadios1" value="0" checked>

            <a href="https://github.com/syzer/sentiment-analyser">
                ml-sentiment
            </a>
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="lib" id="optionsRadios2" value="1">
            <a href="https://github.com/winster/sentiment">
                sentiment
            </a>
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="lib" id="optionsRadios3" value="2">
            <a href="https://github.com/thinkroth/Sentimental">
                Sentimental
            </a>
        </label>
    </div>
</fieldset>
