<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
<div class="container">
  <% include partials/nav.ejs %>
  <form method="post">
    <div>
      <fieldset class="form-group">
        <legend>APIs</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="lib" id="optionsRadios1" value="0" checked>
            Japerk (
            <a href="https://market.mashape.com/japerk/text-processing">
              link
            </a>
            )
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="lib" id="optionsRadios2" value="1">
            Skyttle (
            <a href="https://market.mashape.com/sentinelprojects/skyttle2-0">
              link
            </a>
            )
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="lib" id="optionsRadios3" value="2">
            Webknox (
            <a href="https://market.mashape.com/webknox/text-processing-1#detect-sentiment">
              link
            </a>
            )
          </label>
        </div>
      </fieldset>


      <div class="form-group">
      <textarea class="form-control" name="text" id="text" rows="20">
<% if (typeof form !== 'undefined') { %>
<%= form.text%>
<% } else { %>
<% include partials/review.ejs %>
<% } %>
      </textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<% include partials/foot.ejs %>
</body>
</html>