<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
<div class="container">
  <% include partials/nav.ejs %>
  <form method="post">
    <div>
        <% if (typeof benchmarks !== 'undefined') { %>
      <div class="alert alert-info" role="alert">
        Hits:  <%= benchmarks.hits  %>/<%= benchmarks.total %><br>
        Time:  <%= benchmarks.time  %>ms
      </div>
        <% } %>
        <% include partials/radios-node.ejs %>
      <fieldset class="form-group">
        <legend>Sentiment type</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="type"  value="0"  <% if(form.type == "0") { %>checked<% } %>>
              Negative
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="type" value="1"   <% if(form.type == "1") { %>checked<% } %>>
            Positive
          </label>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend>Topic</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="topic"  value="books" <% if(form.topic == "books") { %>checked<% } %>>
              Books
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="topic" value="dvd"  <% if(form.topic == "dvd") { %>checked<% } %>>
              Films
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="topic" value="electronics"  <% if(form.topic == "electronics") { %>checked<% } %>>
              Electronics
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="topic" value="kitchen_&_housewares"  <% if(form.topic == "kitchen_&_housewares") { %>checked<% } %>>
              Housewares
          </label>
        </div>
      </fieldset>

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<% include partials/foot.ejs %>
</body>
</html>