<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
<div class="container">
  <% include partials/nav.ejs %>
  <div id="root"></div>
</div>

<script src="client-compiled.js?v7"></script>
<% include partials/foot.ejs %>
</body>
</html>