<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
<div class="container">
  <h1>Sentiment analysis</h1>
  <% include partials/nav.ejs %>
  <form method="post">
    <div>
        <% include partials/radios-node.ejs %>
      <div class="form-group">
      <textarea class="form-control" name="text" id="text" rows="20">
        <% include partials/review.ejs %>
      </textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<% include partials/foot.ejs %>
</body>
</html>